<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="Users_CSS/register.css"/>
</head>
<body>
    <!--{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block content %}-->
    <div class="content-section">
        <form method="post">
             
                <p>Choose Role</p>
                <a href="/users/register_resident.html"><input type="button" value="Resident"></a>
                <a href="/users/register_staff.html"><input type="button" value="Municipality"></a>
                
             
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Already have an account? <a class="ml-2" href="../users/login.html">Sign In</a></small>
        </div>
    </div>
<!--{% endblock %}-->
</body>
</html>

<!--files like register residents and staff i don`t understand -->